#article-banner {
	padding: 90px 0px;
	color: #fff;
	background-image: url('../images/articlebg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0.30) 100%);
		background-color: rgba(57, 62, 85, 0.85);
	}
	.text-wrap {
		.cat {
			font-family: $mainFont;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			font-weight: bold;
			font-size: 15px;
			background: $mainRed;
			width: 150px;
			padding: 6px 0px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.social-block {
		width: 265px;
		margin: 0 auto;
		border: #fff 2px solid;
		border-radius: 2px;
		overflow: hidden;
		transform: skew(-30deg);
	    height: 45px;
	    margin-top: 55px;
	    text-align: center;
		.inner {
			transform: skew(30deg);
			margin-top: 9px;
			    margin-left: 37px;
			ul {
				padding: 0;
				margin-bottom: 0;
				list-style-type: none;
				li {
					display: inline-block;
					p {
						margin: 0;
						transform: skew(-30deg);
					}
					i {
						font-size: 20px;
						font-weight: normal;
					}
					span {
						background: #fff;
						color: #d00000;
						padding: 31px;
						padding-right: 15px;
						margin-left: -89px;

						i {
							transform: skew(30deg);
						}
					}
					margin-right: 30px;
					&:last-child,&:first-child {
						margin-right: 0;
					}
				}
			}
		}
	}

	.arrows {
		& > div {
			position: absolute;
			top: 50%;
			font-size: 30px;
			line-height: 1;
			color: #fff;
			margin-top: -15px;
			
			&.left {
				left: 60px;
			}

			&.right {
				right: 60px;
			}
		}

	}

	&.article-review {
		background-image: url(../images/article-review-bg.jpg);

		.overlay {
			background-image: linear-gradient(135deg, #373a4a 0%,#6b7391 100%);
			opacity: .67;
		}

		.product-image {
			img {
				width: auto;
				height: auto;
				max-width: 100%;
			}

			@media (max-width: 767px) {
				margin-bottom: 20px;
				text-align: center;
			}
		}

		.banner-content {
			padding: 0 0 0 50px;

			.btn {
				display: inline-block;
				font-size: 20px;
				line-height: 29px;
				padding: 10px 20px;
				color: #fff;
				background: #fd2e2e;
				text-transform: uppercase;
				font-family: $headerFont;
				letter-spacing: 0.02em;
				font-weight: bold;
				border-radius: 0;
				margin: 0 0 30px;
			}

			h2 {
				font-size: 50px;
				line-height: 1.1;
				color: #fff;
				text-transform: uppercase;
				font-weight: bold;
				font-family: $headerFont;
				margin: 0 0 40px;
			}

			@media (max-width: 767px) {
				padding-left: 0;
				text-align: center;

				h2 {
					font-size: 40px;
				}
			}
		}

		.social-block {
			margin: 0;

			@media (max-width: 767px) {
				margin: auto;
			}
		}
	}
}

#content {
	padding: 70px 0;

	.post-text {
		margin: 0 0 80px;
		color: #424243;

		img {
			border: 0;
			box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
		}

		ul {
			margin: 0 0 20px 18px;
			padding: 0 0 20px;
			list-style: none;

			li {
				padding: 0 0 0 42px;
				margin: 0 0 20px;

				&:before {
					content: '\F093';
					font-family: $blacktieFont;
					color: #bebebe;
					float: left;
					margin: 0 0 0 -42px;
				}
			}
		}

		h4 {
			font-size: 24px;
			line-height: 1.25;
			margin: 25px 0;
		}
	}

	.author {
		background: #fff;
		padding: 40px 18px;
		margin: 44px 0;
		border-top: 6px solid $secondaryRed;
		box-shadow: 0 2px 10px rgba(0, 0, 0, .1);

		.image-wrap {
			float: left;
			width: 116px;
			margin: 0 38px 20px 14px;
			text-align: center;

			img {
				display: block;
				width: 110px;
				height: 110px;
				border-radius: 50%;
				margin: 0 auto 12px;
			}

			.link {
				text-transform: uppercase;
				font-size: 13px;
				color: #a8a8a8;
				display: inline-block;
				font-family: $headerFont;
				font-weight: normal;
				letter-spacing: 0.05em;

				&:hover {
					color: #666;
					border-color: #666;
				}
			}
		}

		.text-wrap {
			overflow: hidden;
			color: #675a5a;

			h4 {
				font-size: 24px;
				line-height: 1.3;
				font-weight: bold;
				color: $mainRed;
				text-transform: uppercase;
				margin: 0 0 20px;
				font-family: $headerFont;
			}

			p {
				font-size: 16px;
				line-height: 1.5;
			}
		}

		@media (max-width: 479px) {
			.image-wrap {
				float: none;
				width: 100%;
				margin: 0 0 20px;
			}

			.text-wrap {
				text-align: center;
			}
		}
	}

	ul.share-buttons {
		display: flex;
		list-style: none;
		margin: 44px 0;
		padding: 0;

		li {
			width: 25%;

			a {
				display: block;
				color: #fff;
				font-size: 20px;
				line-height: 21px;
				padding: 30px 0;
				text-align: center;
				transition: opacity .3s ease;

				&.link-facebook {
					background: #5370a7;
				}

				&.link-twitter {
					background: #43bbf1;
				}

				&.link-pinterest {
					background: #cd3d3f;
				}

				&.link-envelope {
					background: #4c4c52;
				}

				&:hover {
					opacity: .8;
				}
			}
		}
	}

	.subscribe {
		margin: 32px 0;
		padding: 32px 7px 12px 0;
		display: flex;
		justify-content: space-between;

		h3 {
			font-size: 25px;
			font-family: $headerFont;
			color: #2e2e30;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.02em;
			margin: 0 0 10px;
		    padding-top: 7px;
		}

		p {
			font-size: 15px;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 21px;
			color: $secondaryRed;
		}

		.form-wrap {
			width: 400px;
			position: relative;
			.field {
				display: block;
				width: 100%;
				height: 70px;
				border: 1px solid #eee;
				color: #2e2e30;
				font-size: 14px;
				font-family: $mainFont;
				padding: 0 80px 0 30px;
				outline: none;
			}

			.submit {
				position: absolute;
				top: 13px;
				right: 16px;
				width: 45px;
				height: 45px;
				color: $mainRed;
				text-align: center;
				border: 0;
				cursor: pointer;
				font-size: 28px;
				background: transparent;
			}
		}

		@media (max-width: 767px) {
			display: block;
			padding: 30px 0;

			.form-wrap {
				width: 100%;
				margin: 20px 0 0;
			}
		}
	}

	.post-content-ad {
		width: 726px;
		max-width: 100%;
		margin: 44px auto;

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.related-posts {
		margin: 50px 0;

		h3 {
			color: $mainRed;
			font-size: 34px;
			line-height: 1.3;
			text-transform: uppercase;
			font-family: $headerFont;
			font-weight: bold;
		}

		h4 {
			font-size: 17px;
			line-height: 22px;
			text-transform: uppercase;
			font-weight: bold;
			font-family: $mainFont;
			margin: 0;
		}

		a:hover {
			color: $mainRed;
		}

		.related-thumb {
			height: 180px;
			background-size: cover;
			margin-bottom: 10px;
		}

		& > ul {
			list-style: none;
			padding: 0;
			margin: 0 -14px;
			display: flex;
			justify-content: space-between;

			li {
				width: 33%;
				padding: 0 14px;

				img {
					display: block;
					width: 100%;
					height: auto;
					margin: 0 0 16px;
				}
			}
		}

		@media (max-width: 767px) {
			padding: 40px 20px;

			& > ul {
				margin: 0 -8px;

				li {
					padding: 0 8px;
				}
			}
		}

		@media (max-width: 479px) {
			& > ul {
				margin: 0;
				display: block;

				li {
					padding: 0;
					width: 100%;
					margin-bottom: 40px;
				}
			}
		}
	}

	.previous-next {
		display: none;
		justify-content: space-between;
		text-transform: uppercase;
		border-bottom: 2px solid #f1f1f1;
		padding-bottom: 50px;
		margin: 50px 0;

		a {
			p {
				font-size: 20px;
				line-height: 1.2;
				font-family: $headerFont;
				font-weight: bold;
				margin: 0 0 16px;

				span {
					display: block;
					font-size: 18px;
					color: #d33838;
				}
			}
		}

		.previous,
		.next {
			width: 50%;
			
			a {
				position: relative;
				display: block;
				padding: 0 46px;
				letter-spacing: 0.02em;

				&:before {
					position: absolute;
					top: 0;
					font-size: 30px;
					line-height: 1;
					color: #d33838;
					font-family: $blacktieFont;
				}

				&:hover {
					color: #d33838;
				}
			}
		}

		.previous {
			a:before {
				content: '\F092';
				left: 0;
			}
		}

		.next {
			a:before {
				content: '\F093';
				right: 0;
			}
		}

		@media (max-width: 767px) {
			align-items: center;

			.previous,
			.next {
				a {
					padding: 0 32px;

					&:before {
						top: 50%;
						margin-top: -15px;
					}

					p + p {
						display: none;
					}
				}
			}
		}
	}
}

.side-bar {
	max-width: 300px;
	margin: 0 0 0 auto;

	.shares {
		margin-bottom: 38px;
		ul {
			display: flex;
			list-style: none;
			padding: 0;

			li {
				width: 33.33%;

				a {
					display: block;
					font-size: 18px;
					line-height: 1;
					text-align: center;
					color: #fff;
					background: #4c4c52;
					padding: 21px 0 25px;
					font-family: $headerFont;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 0.02em;

					i {
						font-size: 20px;
						display: block;
						margin-bottom: 25px;
					}

					&.link-facebook {
						background: #5370a7;
					}

					&.link-twitter {
						background: #43bbf1;
					}

					&.link-instagram {
						background: #4c4c52;
					}

					&:hover {
						opacity: .8;
					}
				}
			}
		}
	}

	.ad {
		margin: 0 0 44px;
	}

	.newsletter {
		margin-bottom: 52px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, .1);

		.upper-box {
			background: #971c1c url(../images/newsletter.jpg);
			background-size: cover;
			height: 250px;
			display: flex;
			align-items: center;
			color: #fff;
			text-transform: uppercase;
			padding: 20px 20px 20px 20px;


			h3 {
				margin: 0;
				font-size: 16px;
				line-height: 1;
				font-weight: bold;
				text-transform: uppercase;
				color: #fff;
				letter-spacing: 0.02em;
				.line1 {
					font-size: 24px;
				    font-weight: 100;
				    letter-spacing: 1.9px;
				}
				.line2 {
					font-size: 42px;
					letter-spacing: 2px;
				}
				.line3 {
					font-size: 36px;
					letter-spacing: 1.9px;
				}
			}
		}

		.lower-box {
			border-top: 0;
			padding: 24px 14px;

			form {
				position: relative;
			}

			.email-input {
				display: block;
				width: 100%;
				height: 64px;
				border: 1px solid #eee;
				font-size: 15px;
				font-family: $mainFont;
				color: #3e3e42;
				padding: 0 18px 0 60px;
			}

			.submit {
				position: absolute;
				width: 40px;
				height: 40px;
				border: 0;
				cursor: pointer;
				color: $mainRed;
				background: transparent;
				font-size: 25px;
				text-align: center;
				top: 11px;
				left: 12px;
			}
		}

		&.shaped {
			.upper-box {
				height: 256px;
				background-image: url(../images/newsletter-shaped.jpg);

				h3 {
					font-size: 24px;
					font-weight: normal;
					strong {
						display: inline; 
						margin: 0;
						font-size: inherit;
					}

					.large {
						display: block;
						font-size: 35px;
						font-weight: bold;
					}

					.larger {
						display: block;
						font-size: 40px;
						font-weight: bold;
					}
				}
			}

			.lower-box {
				margin-top: -30px;
				padding-top: 45px;
			}
		}
	}

	.featured-articles {
		margin-bottom: 40px;

		.menu-posts {
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;

				li {
					width: 50%;
					position: relative;

					a {
						display: block;
						font-size: 20px;
						color: #bbb;
						line-height: 1;
						font-family: $headerFont;
						font-weight: bold;
						text-transform: uppercase;
						padding: 23px 0;
						text-align: center;
						border: 2px solid #dedede;
						border-bottom: 2px solid #ea3232;
						text-decoration: none;

						&:hover {
							color: #ea3232;
							border-color: #ea3232 !important;
						}
					}

					& + li {
						a {
							margin-left: -2px;
						}
					}

					&.active {
						z-index: 2;
						a {
							color: #fff;
							background: $mainRed;
							border-color: $mainRed !important;
						}
					}
				}
			}
		}

		.articles-wrap {
			padding: 23px 18px 5px;
			border: 2px solid #dedede;
			border-top: 0;

			ul {
				display: none;
				padding: 0;
				list-style: none;

				li {
					padding-bottom: 18px;
					overflow: hidden;

					img {
						float: left;
						width: 90px;
						height: 90px;
						margin: 0 20px 0 0;
					}

					p {
						font-size: 18px;
						line-height: 20px;
						color: #414044;
						text-transform: uppercase;
						font-weight: bold;
						font-family: $headerFont;
						padding: 10px 0;
						overflow: hidden;
					}

					a:hover {
						color: $mainRed;
					}
				}
			}
		}
	}

	@media (max-width: 991px) {
		margin: 0 auto;
	}
}

