#bmr-banner {
	background-image: url(../images/bmr-bg.jpg);
}

.calculator-content {
	padding-top: 80px;
	padding-bottom: 235px;
	.text {
		box-sizing: border-box;
		padding-right: 55px;
		h4 {
			font-size: 24px;
			font-weight: 400;
			line-height: 30px;
			color: #686a6e;
			margin-bottom: 28px;
			strong {
				color: #383a3e;
				font-weight: 500;
			}
		}
		p {
			color: #9c9ea6;
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 28px;
		}
	}
	.calculator {
		font-family: $headerFont;
		text-transform: uppercase;
		box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		margin-top: -181px;
		background: #fff;
		input[type="radio"] {
		    display: none;
		}
		.half {
			width: 48%;
			float: left;
		}
		.units {
			padding: 20px;
			p {
				color: #8e919d;
				font-size: 20px;
				font-weight: 700;
				font-family: $headerFont;
				padding-top: 14px;
			}
			.unit-selection {
				width: 275px;
			    height: 60px;
			    float: right;
			    border: 1px solid #8e919d;
			    transition: .2s ease;
				div {
				    font-size: 18px;
				    font-weight: 700;
				    line-height: 22px;
				    width: 50%;
				    float: left;
				    text-align: center;
				    color: #8e919d;
				    padding: 4px 0px;
				    box-sizing: border-box;
				    height: 100%;
	    			padding: 16px 0px;
	    			cursor: pointer;
				    &.current {
				    	background: #3e4253;
				    	color: #fff;
				    	border: 1px solid #3e4253;
				    }
				}
			}
		}
		form {
			padding: 20px;
			padding-bottom: 40px;
			padding-top: 0px;
			border-top: 1px solid #e6e6e6;
			label {
				color: #3e4253;
				font-size: 24px;
				width: 100%;
				margin-top: 40px;
				margin-bottom: 25px;
			}
			.weight-wrap {
			}
			.gender {
				.select {
					width: 100%;
				    height: 75px;
				    border: 1px solid #b3b6c2;
				    color: #b3b6c2;
				    font-size: 24px;
				    font-weight: 700;
				    line-height: 32px;
				    text-transform: uppercase;
				    box-sizing: border-box;
				    padding: 20px 22px;
				    cursor: pointer;
				    .selection-circle {
				    	width: 31px;
				    	height: 31px;
				    	border: 1px solid #b3b6c2;
				    	border-radius: 50%;
				    	float: left;
				    	text-align: center;
				    	margin-right: 20px;
				    	.inner-selected {
				    		width: 15px;
				    		height: 15px;
				    		background-color: #b3b6c2;
				    		border-radius: 50%;
				    		margin-left: 7.101px;
				    		margin-top: 7.101px;
				    		display: none;
				    	}
				    }
				    i {
				    	float: right;
				    	margin-top: 4px;
				    }
				    &.active {
				    	color: #d71111;
				    	border: 1px solid #d71111;
				    	.selection-circle {
				    		border: 1px solid #d71111;
				    		.inner-selected {
				    			display: block;
				    			background-color: #d71111;
				    		}
				    	}
				    }
				    &:hover {
				    	.selection-circle {
				    		.inner-selected {
				    			display: block;
				    		}
				    	}
				    }
				}
			}
			.age-height {
				.input-wrap {
					span {
						color: #93959c;
						font-family: $mainFont;
						font-size: 20px;
						font-weight: 400;
						text-transform: lowercase;
						margin-right: 10px;
					}
					input[type=number] {
						width: 60px;
						height: 60px;
						border: 1px solid rgb(179, 182, 194);
						text-align: center;
						font-size: 20px;
						margin-right: 10px;
					}
				}
			}
			.weight {
				.weight-slider {
					#weight-slider {
						border: 1px solid #b3b6c2;
						.ui-slider-handle,.ui-state-active {
							width: 57px;
						    background: #df0000;
						    text-align: center;
						    border-radius: 0px;
						    border: none;
						    padding-top: 2px;
						    color: #fff !important;
						    height: 33px;
						    top: -11px;
						    font-weight: 700;
						    font-family: $headerFont;
						    font-size: 20px;
						    font-weight: 700;
						    margin-left: -28px;
							span {
								color: #df0000 !important;
								position: absolute;
								bottom: -27px;
								left: 12.5px;
							}
						}
					}
				}

				.min {
					color: #bfbfbf;
					font-family: $headerFont;
					font-size: 16px;
					font-weight: 700;
					.metric-min {
						display: none;
					}
				}
				.max {
					float: right;
					color: #bfbfbf;
					font-family: $headerFont;
					font-size: 16px;
					font-weight: 700;
				}
			}
			.activity {
				#activity-button {
					width: 100%;
				    background: #fff;
				    border-radius: 0px;
				    border: 1px solid #93959c;
				    padding: 22px 22px;
				    .ui-selectmenu-text {
				    	color: #93959c;
				    	font-size: 20px;
				    	font-weight: 700;
				    	font-family: $headerFont;
				    }
				}
			}
		}
		.submit {
			.calculate-btn {
				background-color: #df0000;
				color: #fff;
				font-size: 24px;
			    font-weight: 700;
			    text-align: center;
			    padding: 27px;
			    cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.calculator-content {
		padding-top: 30px;
		padding-bottom: 30px;
		.calculator {
			margin-top: 0px;
			.half {
				width: 100%;
			}
			.units {
				.unit-selection {
					width: 100%;
				}
			}
			form label {
				margin-top: 20px;
				margin-bottom: 10px;
			}
		}
	}
}

.ui-menu-item-wrapper, .ui-widget-content .ui-state-active {
	color: #93959c !important;
	font-size: 20px !important;
	font-weight: 700 !important;
	font-family: $headerFont !important;
	border: none !important;
	text-transform: uppercase;
}

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
	margin: 0px !important;
}

.omr {
	.lead {
		margin-bottom: 13px;
		margin-top: 13px;
	}

	td {
		text-align: center !important;
	}
}