#content {
	.page-title {
		font-size: 50px;
		line-height: 1.1;
		color: #ea3232;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		font-weight: bold;
		font-family: $headerFont;
		margin: 0 0 55px;
	}

	.posts-list {
		margin: 0 -22px;
		display: flex;
		flex-wrap: wrap;

		.post {
			width: 50%;
			padding: 0 22px;
			margin-bottom: 44px;

			img {
				display: block;
				max-width: 100%;
				height: auto;
				margin-bottom: 20px;
			}

			h4 {
				font-size: 26px;
				line-height: 1.15;
				font-family: $headerFont;
				font-weight: bold;
				text-transform: uppercase;
				color: #414044;
				margin-bottom: 24px;

				a {
					color: #414044;

					&:hover {
						color: #ea3232;
					}
				}
			}

			p {
				font-size: 20px;
				line-height: 1.3;
				color: #7f7e85;
				margin: 0;
			}
		}

		@media (max-width: 767px) {
			margin: 0 -15px;

			.post {
				padding: 0 15px;
			}
		}

		@media (max-width: 479px) {
			margin: 0px;

			.post {
				width: 100%;
				padding: 0px;
			}
		}
	}

	.posts-list + .post-content-ad {
		margin-top: 0;
	}

	.post-content-ad + .posts-list {
		margin-top: 44px;
	}
	.navigation li a,
	.navigation li a:hover,
	.navigation li.active a,
	.navigation li.disabled {
		color: #fff;
		text-decoration:none;
	}

	.navigation li {
		display: inline;
	}

	.navigation li a,
	.navigation li a:hover,
	.navigation li.active a,
	.navigation li.disabled {
		background-color: #c10000;
		border-radius: 3px;
		cursor: pointer;
		padding: 12px;
		padding: 0.75rem;
	}

	.navigation li a:hover,
	.navigation li.active a {
		background-color: #000;
	}
}