@media (min-width: 1200px) {
	.container {
	    width: 1200px;
    }
}

h1,h2,h3 {
	font-family: $headerFont;
	text-transform: uppercase;
	font-weight: bold;
}

h1 {
	font-size: 60px;
	font-weight: bold;
}

h2 {
	font-size: 26px;
	font-weight: bold;
}

p,li {
	font-family: $mainFont;
	font-size: 16px;
	font-weight: 400;
}

#more-posts {
	a {
		padding: 20px;
		background: red;
		font-size: 21px;
		font-weight: 800;
		color: #fff;
		text-transform: uppercase;
		i {
			font-weight: 700;
			vertical-align: baseline;
			font-size: 15px;
		}
	}
}

.post-text {
	h1,h2,h3,h4,h5,p,li,a {
		color: #424243;
		font-size: 20px;
		font-weight: 400;
		line-height: 32px;
	}
	h1 {
		font-size: 40px;
		color: $darkRed;
	}
	h2 {
		color: $darkRed;
		font-size: 32px;
	}
	h3 {
		color: $darkRed;
		font-size: 24px;
	}
	p {
		margin-bottom: 26px;
	}
	a {
		color: $mainRed;
		&:hover {
			color: $mainRed;
			text-decoration: underline;
		}
	}
}

img {
	width: 100%;
}

a {
	color: currentColor;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: currentColor;
	}
}

.cl {
	clear: both;
}

.full-left {
	width: 100%;
	float: left;
}

div.button-wrap {  
	height:60px; 
	line-height:60px;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding: 2px 18px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu {
	z-index:1000000; 
	font-weight:bold; 
	font-size:0.8em; 
	width:100%; 
	text-align:center;
	ul {
		margin: 0; 
		padding: 0; 
		list-style-type: none; 
		list-style-image: none;
		li {
			display: block;   
			padding:15px 0 15px 0; 
			border-bottom:#1d1f20 1px solid;
			&:hover,
			&.current-menu-item {
				display: block; 
				background:#181818; 
				padding:15px 0 15px 0; 
				border-bottom:#1d1f20 1px solid;
			}

			a {
				text-decoration:none;  
				margin: 0px; color:#fff;
				&:hover {
					color: #fff; 
					text-decoration:none;
				}
			}
		}
	}

	a {
		text-decoration:none; 
		color:white;
		&:hover {
			text-decoration:none; 
			color:white;
		}
	}
}

#main-content {
	h1 {
		
	}
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

.button {
	text-transform: uppercase;
	border-radius: 4px;
	font-family: $headerFont;
	display: inline-block;
	transition: .2s ease;
	padding: 20px 30px;
	letter-spacing: 1.5px;
	&.red {
		background: $mainRed;
		&:hover {
			background: #bc2222;
		}
	}
	&.clear {
		background: none;
		border: 2px solid #fff;
	}
}

.clear-fix {
	clear: both;
}

.btn {
	display: inline-block;
	font-size: 20px;
	line-height: 29px;
	padding: 10px 20px;
	color: #fff;
	background: #fd2e2e;
	text-transform: uppercase;
	font-family: $headerFont;
	letter-spacing: 0.02em;
	font-weight: bold;
	border-radius: 0;
	margin: 0 0 30px;
}

#top-bar {
	background-color: $secondaryRed;
    background-image: linear-gradient(to top, transparent 0%, transparent 100%);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
    .logo-wrap {
    	text-align: center;
    	padding: 10px;
    	max-width: 87px;
    	a {
    		display: inline-block;
    		width: 100%;
    	}
    }

    .nav-wrap {
    	ul {
    		list-style-type: none;
    		text-align: right;
    		margin-top: 27px;
    		height: 84px;
    		margin: 0;
    		padding: 0;
    		li {
    			display: inline-block;
    			height: 100%;
    			border-right: 1px solid $darkRed;
    			/*margin-left: -4px;*/
    			transition: .15s ease;
    			a {
    				font-size: 22px;
    				font-weight: 700;
    				text-transform: uppercase;
    				font-family: $headerFont;
    				color: white;
    				height: 100%;
    				width: 100%;
    				display: inline-block;
    				padding: 27px 37px 27px 34px;
    			}
				&:first-child {
					border-left: 1px solid $darkRed;
				}
				&:hover, &:active, &.current-menu-item {
					background: $mainRed;
				}
				.search {
					position: absolute;
					z-index: 999;
					right: 15px;
					background: $darkGrey;
					padding: 20px;
					border-radius: 0px 0px 4px 4px;
					border-top: 1px solid #000;
					input {
						font-size: 15px;
						color: #000;
						padding: 5px;
					    font-family: $mainFont;
					    border-radius: 3px;
					    border: none;
					}
					button {
						background: $mainRed;
						color: #fff;
						border-radius: 4px;
						border: 0;
						width: 31px;
						height: 31px;
						vertical-align: bottom;
					}
				}
    		}
    	}
    }
    div.show-mobile {
    	display: none;
    }
}
.ad {
	margin-top: 40px;
	margin-bottom: 50px;
}

.show-mobile {
	display: hidden;
}

.hidden {
	display: none;
}

#content .post-text {
	img {
		max-width: 100%;
		height: auto;
	}
	table {
		max-width: 100%;
		@media screen and (max-width: 767px) {
			width: 100% !important;
		}
	}
	iframe {
		max-width: 100%;
		height: auto;
	}
	div {
		max-width: 100% !important;
	}
}

#footer {
	background-color: #111112;
	color: #fff;
	min-height: 108px;
	font-size: 16px;
	overflow: hidden;
	p {
		color: #494949;
		text-transform: uppercase;
		margin-top: 42px;
	}
	a {
		opacity: .4;
		margin: 21px 0px;

		&:hover {
			opacity: 1;
		}
	}
	@media screen and (max-width: 995px) {
		text-align: center;
		a {
			width: 100%;
		}
	}
}

@media screen and (max-width: 995px) {
	.hide-mobile {
		display: none !important;
	}
	.show-mobile {
		display: block !important;
	}
}

.hidden {
	display: none;
}

#lightbox-cover {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.63);
    z-index: 999;
}

#lightbox-opt {
	width: 600px;
	position: fixed;
	top: 90px;
	height: 320px;
	left: 50%;
	z-index: 9999;
	background: #fff;
	margin-left: -300px;
	box-sizing: border-box;
	padding: 30px;
	text-align: center;

	h3 {
		margin-top: 30px;
	}

	form {
		input[type="email"] {
			width: 100%;
		    padding: 15px;
		}

		input[type="submit"] {
			width: 100%;
			background: #df0000;
			border: 0px;
			color: #fff;
			padding: 20px;
			margin-top: 10px;
			font-weight: bold;
			font-size: 20px;
		}
	}
}

#results {
	width: 100%;
	float: left;
	padding-bottom: 10px;
	text-align: center;
	p {
		font-weight: bold;
		font-size: 20px;
	}
}