#resources-banner {
	background: linear-gradient(135deg, rgba(21, 24, 32, .8) 0%, rgba(42, 47, 64, .8)), url(../images/banner-resources.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 110px 0 150px;
	color: #fff;
	text-align: center;

	h2 {
		font-size: 60px;
		line-height: 1.2;
		color: #fff;
		text-transform: uppercase;
		font-family: $headerFont;
		font-weight: bold;
		margin: 0 0 10px;
		text-align: center;
	}

	@media (max-width: 767px) {
		padding: 40px 0 80px;

		h2 {
			font-size: 50px;
		}
	}
}

#resources {
	padding: 90px 0 0;

	.boxes {
		position: relative;
		margin: -154px 0 40px;
		display: flex;
		justify-content: space-between;
		align-items: top;

		.box {
			width: 31%;
			box-shadow: 0 1px 35px rgba(0, 0, 0, .1);
			background: #fff;
			margin-bottom: 45px;

			.box-title {
				position: relative;
				z-index: 2;
				overflow: hidden;
				height: 154px;
				display: flex;
				justify-content: space-around;
				align-items: center;
				padding: 20px;
				text-align: center;

				img {
					position: absolute;
					top: 50%;
					left: 50%;
					min-width: 101%;
					min-height: 101%;
					width: auto;
					height: auto;
					transform: translate(-50%, -50%);
					z-index: -1;
				}

				h2 {
					color: #fff;
					font-family: $headerFont;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 80px;
					line-height: 1;
					text-align: center;
					margin: 0 0 5px;

					small {
						display: block;
						font-size: 20px;
						line-height: 1.5;
						color: #fff;
					}
				}
			}

			.box-body {
				padding: 30px 40px;
				text-align: center;

				.text {
					display: flex;
					min-height: 216px;
					align-items: center;
					justify-content: space-around;
					margin-bottom: 25px;
				}
				
				p {
					text-align: center;
					font-size: 20px;
					line-height: 1.2;
					color: #4f5155;
					margin: 0;

					strong {
						color: #d61e2c;
					}
				}

				.btn {
					border: 2px solid #df2334;
					color: #df2334;
					background: transparent;
					line-height: 21px;
					padding: 20px 40px;

					&:hover {
						background: #df2334;
						color: #fff;
					}
				}
			}
		}
	}

	@media (max-width: 1199px) {
		.boxes {
			.box {
				.box-body {
					padding: 30px 20px;
				}
			}
		}
	}

	@media (max-width: 991px) {
		.boxes {
			.box {
				.box-title {
					h2 {
						font-size: 60px;
					}
				}

				.box-body {
					.text {
						min-height: 231px;
					}

					p {
						font-size: 18px;
					}
				}
			}
		}
	}

	@media (max-width: 767px) {
		.boxes {
			display: block;
			
			.box {
				width: auto;
				max-width: 360px;
				margin: 0 auto 40px;

				.box-title {
					h2 {
						font-size: 50px;
					}
				}

				.box-body {
					.text {
						min-height: 0;
					}
				}
			}
		}
	}
}

#subscribe-ebook {
	padding-bottom: 100px;

	.box-wrap {
		box-shadow: inset 0 0 0 2px #dedede;
		display: table;
		width: 100%;

		.form-wrap {
			display: table-cell;
			vertical-align: middle;
			width: 61%;
			padding: 70px;
			
			form {
				position: relative;
			}

			h3 {
				font-size: 30px;
				line-height: 1.1;
				color: #2e2e30;
				font-family: $headerFont;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				margin: 0 0 40px;

				strong {
					color: #d9202f;
				}
			}

			input[type="email"] {
				display: block;
				width: 100%;
				border: 2px solid #dedede;
				background: #fff;
				color: #909095;
				font-size: 18px;
				height: 75px;
				padding: 0 76px 0 28px;
				border-radius: 2px;
			}

			button[type="submit"] {
				position: absolute;
				top: 13px;
				right: 15px;
				width: 50px;
				height: 50px;
				border-radius: 2px;
				background: linear-gradient(to bottom, #fe4040 0%, #fc1c1c 100%);
				color: #fff;
				font-size: 18px;
				line-height: 46px;
				font-weight: 500;
				border: 0;
			}
		}

		.ebook-image {
			display: table-cell;
			vertical-align: middle;
			width: 39%;
			background: url(../images/ebook-bg.jpg) no-repeat center center;
			background-size: cover;
			padding: 48px 20px 40px;
			text-align: center;

			img {
				display: block;
				width: 195px;
				max-width: 44%;
				height: auto;
				margin: auto;
			}
		}
	}

	@media (max-width: 1199px) {
		.box-wrap {
			.form-wrap {
				padding: 40px;
			}
		}
	}

	@media (max-width: 991px) {
		.box-wrap {
			.form-wrap {
				padding: 30px;

				h3 {
					font-size: 22px;
					margin-bottom: 30px;
				}
			}

			.image-wrap {
				img {
					max-width: 60%;
				}
			}
		}
	}

	@media (max-width: 767px) {
		.box-wrap {
			display: block;
			
			.form-wrap {
				display: block;
				width: auto;
				padding: 24px 18px;

				h3 {
					font-size: 22px;
					margin-bottom: 20px;
				}

				input[type="email"] {
					padding: 0 70px 0 15px;
				}
			}

			.ebook-image {
				display: block;
				width: auto;

				img {
					max-width: 70%;
				}
			}
		}
	}
}