/* Variables */
$darkGrey: #201f23;
$mainRed: #d00000;
$secondaryRed: #c10000;
$darkRed: #b20000;
$mainFont: 'Roboto', sans-serif;
$headerFont: 'Roboto Condensed', sans-serif;
$blacktieFont: 'Black Tie';

/* Imported Stylesheets */
@import 'global',
		'home',
		'article',
		'category',
		'404',
		'author',
		'about',
		'bmrcalc',
		'resources';

#team {
	ul.members {
		li {
			.member {
				height: 275px;
				overflow: hidden;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 100% auto
			}
		}
	}
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;

	iframe, object, embed {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100% !important;
	}
}

#content {
	.post-content-ad {
		overflow: hidden;
	}
	
	.post-text {
		text-align: center;

		.post-content {
			text-align: left;
		}

		.fa-angle-double-right, .fa-angle-double-left {
			font-size: 45px;
			position: relative;
			top: -9px;
		}

		.fa-angle-double-left {
			float: left;
			margin-right: 5px;
		}

		.fa-angle-double-right {
			float: right;
			margin-left: 5px;
		}

		.pagination {
			font-weight: bold;

			a {
				font-size: 28px;
				font-weight: bold;
			}

			.pageOf {
				margin: 0px 10px;
			    font-size: 26px;
			}
		}
	}
}

.pageOf {
	margin: 0px 10px;
	font-size: 26px;
	font-weight: bold;
}

.safari {
	position: relative;
	top: -21px;
}

.paged-2,.paged-3,.paged-4,.paged-5,
.paged-6,.paged-7,.paged-8,.paged-9,
.paged-10,.paged-11,.paged-12,.paged-13,
.paged-14,.paged-15,.paged-16,.paged-17,
.paged-18,.paged-19,.paged-20,.paged-21 {
	.safari {
		top: 0px;
	}
}


.side-bar {
	max-width: 326px !important;
	
	.newsletter {
		.upper-box {
			padding: 20px 33px;
		}
	}	
}