<h2 id="redux-options-framework-build-status-https-travis-ci-org-reduxframework-redux-framework-png-branch-master-https-travis-ci-org-reduxframework-redux-framework-built-with-grunt-https-cdn-gruntjs-com-builtwith-png-http-gruntjs-com-slack-http-slack-redux-io-badge-svg-http-slack-redux-io-">Redux Options Framework <a href="https://travis-ci.org/reduxframework/redux-framework"><img src="https://travis-ci.org/reduxframework/redux-framework.png?branch=master" alt="Build Status"></a> <a href="http://gruntjs.com/"><img src="https://cdn.gruntjs.com/builtwith.png" alt="Built with Grunt"></a> <a href="http://slack.redux.io"><img src="http://slack.redux.io/badge.svg" alt="Slack"></a></h2>
<p>WordPress options framework which uses the <a href="http://codex.wordpress.org/Settings_API" title="WordPress Settings API">WordPress Settings API</a>, Custom Error/Validation Handling, Custom Field/Validation Types, and import/export functionality.</p>
<h2 id="posting-guidelines-for-issues-and-questions">Posting Guidelines for issues and questions</h2>
<p>When using our Issue Tracker, you may ask questions where you may be a bit lost or need help understanding the documentation. If, however, you find a bug we require you to read and provide the information contained in our <a href="https://github.com/ReduxFramework/redux-framework/blob/master/CONTRIBUTING.md">Contributing Guidelines</a>. If you do not provide this information, we will request it before we can support you.</p>
<p>If you are stuck in some of your own code, or need help with PHP and anything else not Redux specific, we request you purchase some <a href="http://reduxframework.com/extension/premium-support/">Premium Support</a> and we will be happy to assist you. If we feel the issue is outside of our scope we will suggest you to purchase some <a href="http://reduxframework.com/extension/premium-support/">Premium Support</a> in order for us to serve you.</p>
<h2 id="kickstart-your-development">Kickstart Your Development</h2>
<p>Are you authoring a theme, or plugin?  Visit the  <a href="http://build.reduxframework.com">Redux Builder</a> site and get started!</p>
<h2 id="demo-your-products">Demo Your Products</h2>
<p>We help you create a seamless user experience for your users to demo your WordPress products.  Not only that, we help you make sure they’re engaged, turning them into a potential customer.  Visit <a href="http://wpdemo.io/">wpdemo.io/</a></p>
<h2 id="documentation">Documentation</h2>
<p>Need a little help with Redux?  Come check out our brand new documentation site at  <a href="http://docs.reduxframework.com">docs.reduxframework.com</a>, chock full of tutorials and examples!</p>
<h2 id="smof-simple-modified-option-users-converter-">SMOF (Simple Modified Option Users) Converter!</h2>
<p>Hot off the press, our Redux Converter plugin. It takes your SMOF instance, and allows you to try out Redux without any fear. It also spits out valid PHP source for you if you want to migrate complete with data migration! Give it a try today. It will be in the WordPress.org repo shortly.  ;)
<a href="https://github.com/ReduxFramework/redux-converter">https://github.com/ReduxFramework/redux-converter</a></p>
<h2 id="help-us-translate-redux">Help Us Translate Redux</h2>
<p>Please head over to the wiki to learn how you can help us translate Redux quickly. Any and all are welcome. We appreciate your help!
<a href="https://github.com/ReduxFramework/ReduxFramework/wiki/translate">https://github.com/ReduxFramework/ReduxFramework/wiki/translate</a></p>
<h2 id="getting-started-with-redux">Getting Started with Redux</h2>
<p>ReduxFramework has been built from the ground up to be the most flexible framework around. You can run it as an auto-updating plugin, or embed it inside your plugin or theme. It allows for multiple copies of itself within the same WordPress instance. For a guide on getting started please refer to <a href="https://github.com/ReduxFramework/redux-framework/wiki/Getting-Started">https://github.com/ReduxFramework/redux-framework/wiki/Getting-Started</a>.</p>
<p>You can also <a href="https://github.com/ReduxFramework/ReduxSampleTheme">download our sample theme available here</a> to start developing right away.</p>
<h2 id="please-post-reviews-and-spread-the-word">Please Post Reviews and Spread the Word</h2>
<p>ReduxFramework has just released to the WordPress Plugins directory. Please spread the word, tweet, and (most importantly) post reviews on <a href="http://wordpress.org/plugins/redux-framework/">http://wordpress.org/plugins/redux-framework/</a>. </p>
<h2 id="donate-to-the-framework">Donate to the Framework</h2>
<p>If you can, please donate to help support the ongoing development of Redux Framework!</p>
<p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=MMFMHWUPKHKPW"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" alt="Donate to the framework" title="Donate to the framework"></a></p>
<h2 id="features">Features</h2>
<ul>
<li>Uses the <a href="http://codex.wordpress.org/Settings_API" title="WordPress Settings API">WordPress Settings API</a></li>
<li>Multiple built in field types</li>
<li>Multple layout field types</li>
<li>Fields can be overloaded with a callback function, for custom field types</li>
<li>Easily extendable by creating Field Classes</li>
<li>Built in Validation Classes</li>
<li>Easily extendable by creating Validation Classes</li>
<li>Custom Validation error handling, including error counts for each section, and custom styling for error fields</li>
<li>Custom Validation warning handling, including warning counts for each section, and custom styling for warning fields</li>
<li>Multiple Hook Points for customisation</li>
<li>Import / Export Functionality - including cross site importing of settings</li>
<li>Easily add page help through the class</li>
<li>Fully responsive options panel</li>
<li>Much more</li>
</ul>
<h2 id="stay-in-the-loop-">Stay In The Loop!</h2>
<p><a href="https://www.twitter.com/ReduxFramework"><img src="http://iod.unh.edu/Images/Twitter_follow_us.png" alt="Follow us on Twitter" title="Follow us on Twitter"></a></p>
<h2 id="faqs">FAQs</h2>
<ol>
<li>Why should we use <code>require_once</code> instead of <code>get_template_part</code>?<ul>
<li>First, because <code>get_template_part</code> is for... you guessed it, themes! Redux is designed to work with both themes <em>and</em> plugins.</li>
<li>Second, read <a href="http://kovshenin.com/2013/get_template_part/">this</a>.</li>
</ul>
</li>
<li>Why shouldn&#39;t we edit <code>sample-config.php</code> in the plugin directory?<ul>
<li>Because <code>sample-config.php</code> will be replaced at each update of the plugin. You will lose all your effort</li>
</ul>
</li>
</ol>
<h2 id="are-you-using-redux-">Are you using Redux?</h2>
<p>Send us an email at info@reduxframework.com so we can add you to our showcase!</p>
<h2 id="changelog">Changelog</h2>
<p>See <a href="https://github.com/ReduxFramework/redux-framework/blob/master/CHANGELOG.md">Changelog.md</a></p>
<h2 id="running-php-unit-tests">Running PHP Unit tests</h2>
<p>The tests are built using <a href="https://make.wordpress.org/core/handbook/automated-testing/">wordpress&#39;s make subversion repository</a></p>
<p><code>/var/www/wordpress-develop</code> as the destination for the core test files.
First download the wordress core tests repository, for these files.</p>
<pre><code class="lang-bash">cd /var/www
svn co http://develop.svn.wordpress.org/trunk/ wordpress-develop
</code></pre>
<p>In the newly created <code>/var/www/wordpress-develop</code> directory rename
<code>wp-tests-config-sample.php</code> to <code>wp-tests-config.php</code>. Now add your database
details to the new file:</p>
<pre><code class="lang-php">// WARNING WARNING WARNING!
// These tests will DROP ALL TABLES in the database with the prefix named below.
// DO NOT use a production database or one that is shared with something else.

define( &#39;DB_NAME&#39;, &#39;wordpress-tests&#39; );
define( &#39;DB_USER&#39;, &#39;root&#39; );
define( &#39;DB_PASSWORD&#39;, &#39;passowrd&#39; );
define( &#39;DB_HOST&#39;, &#39;localhost&#39; );
define( &#39;DB_CHARSET&#39;, &#39;utf8&#39; );
define( &#39;DB_COLLATE&#39;, &#39;&#39; );
</code></pre>
<ul>
<li><b>n.b.</b> you may need to create the database first.</li>
<li><b>n.b. n.b.</b> also note that the database used will be emptied on each run.</li>
</ul>
<p>Set the <code>WP_TESTS_DIR</code> environment variable so that the <code>redux-framework</code> test bootstrap file can find the wordpress core tests:</p>
<pre><code class="lang-bash">export WP_TESTS_DIR=&#39;/var/www/wordpress-develop/tests/phpunit/includes/&#39;
</code></pre>
<p>You should now be able to run the <code>redux-framework</code> unit tests:</p>
<pre><code class="lang-bash">redux-framework$ phpunit
Welcome to the TIVWP Test Suite
Version: 1.0

Tests folder: /var/www/wordpress-develop/tests/phpunit/includes/

Installing...
...
Configuration read from
redux-framework/phpunit.xml
...
</code></pre>
