#banner-error {
	background: linear-gradient(135deg, rgba(53, 57, 72, .5) 0%, rgba(105, 113, 143, .5)), url(../images/banner-404.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 180px 0;

	h2 {
		font-size: 260px;
		line-height: 1;
		color: #fff;
		font-family: $headerFont;
		font-weight: bold;
		margin: 0;
	}

	p {
		font-size: 20px;
		line-height: 1.7;
		color: #bec4d9;
		font-family: $headerFont;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 0 20px;
		letter-spacing: 0.05em;
	}

	@media (max-width: 1439px) {
		padding: 100px 0;

		h2 {
			font-size: 200px;
		}
	}

	@media (max-width: 1023px) {
		padding: 80px 0;

		h2 {
			font-size: 160px;
		}
	}

	@media (max-width: 767px) {
		padding: 80px 0;

		h2 {
			font-size: 120px;
		}
	}
}

#content-articles {
	padding: 74px 0;

	.title {
		text-align: center;
		margin-bottom: 50px;

		h3 {
			margin: 0 0 10px;
			font-size: 40px;
			line-height: 1.2;
			font-family: $headerFont;
			font-weight: bold;
			text-transform: uppercase;
			color: #ea3232;
		}
		
		h4 {
			font-size: 24px;
			line-height: 1.3;
			color: #9d9fa9;
			font-family: $headerFont;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			margin: 0 0 5px;
		}
	}

	@media (max-width: 767px) {
		padding: 60px 0;

		.title {
			h3 {
				font-size: 32px;
			}
		}
	}

	.post-content-ad {
		width: 726px;
		max-width: 100%;
		margin: 10px auto 60px;

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

ul.articles-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	padding: 0;

	li {
		width: 33.33%;
		padding: 0 15px;

		.item {
			background: #fff;
			box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
			margin-bottom: 48px;

			.image {
				display: block;
				position: relative;
				min-height: 50px

				img {
					display: block;
					height: auto;
				}

				i {
					position: absolute;
					right: 0;
					bottom: 0;
					width: 52px;
					height: 50px;
					background: #ea3232;
					color: #fff;
					text-align: center;
					font-size: 18px;
					line-height: 52px;
				}
			}
			h5 {
				font-size: 26px;
				line-height: 1.08;
				color: #27282d;
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 0.05em;
				margin: 0 0 10px;
				padding: 24px 32px;
				font-family: $headerFont;

				a {
					color: #27282d;

					&:hover {
						color: #ea3232;
					}
				}
			}
		}
	}

	@media (max-width: 1439px) {
		li {
			.item {
				h5 {
					font-size: 24px;
					padding: 20px 24px;
				}
			}
		}
	}

	@media (max-width: 1023px) {
		margin: 0 -10px;
		li {
			width: 50%;
			padding: 0 10px;
		}
	}

	@media (max-width: 767px) {
		li {
			.item {
				h5 {
					font-size: 20px;
					padding: 16px 20px;
				}
			}
		}
	}

	@media (max-width: 479px) {
		margin: 0;
		li {
			width: 100%;
			padding: 0;

			.item {
				margin-bottom: 24px;
			}
		}
	}
}