#about-banner,.banner {
	background: linear-gradient(135deg, rgba(30, 32, 36, .5) 0%, rgba(60, 62, 70, .5)), url(../images/banner-about.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 150px 0;

	h2 {
		font-size: 50px;
		line-height: 1.3;
		color: #fff;
		font-family: $headerFont;
		font-weight: normal;
		margin: 0;
	}

	@media (max-width: 767px) {
		padding: 100px 0;

		h2 {
			font-size: 40px;
		}
	}
}

#mission {
	padding: 80px 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	
	h2.back-title {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 200px;
		line-height: 1;
		color: #414551;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $mainFont;
		margin: -60px 0 0;
		opacity: .03;
	}
	
	p {
		font-size: 20px;
		line-height: 1.3;
		margin-bottom: 20px;

		span {
			font-weight: 500;
		}
	}

	@media (max-width: 767px) {
		h2.back-title {
			left: -50px;
			right: -50px;
			font-size: 80px;
			margin-top: -15px;
		}
	}
}

#we-are {
	padding: 56px 0 90px;
	background: linear-gradient(135deg, #343845 0%, #626881 100%);
	color: #fff;
	text-align: center;
	h3 {
		font-size: 30px;
		line-height: 1.2;
		color: #fff;
		text-transform: none;
		font-family: $mainFont;
		font-weight: normal;
		text-transform: none;
		margin: 0 0 24px;
	}

	.text-wrap {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			width: 1px;
			background: #9699a3;
		}

		.row {
			padding: 30px 0;
			& + .row {
				padding-top: 40px;
				border-top: 1px solid #9699a3;
			}
			&:last-child {
				padding-bottom: 5px;
			}
		}

		h2 {
			font-size: 60px;
			line-height: 1.3;
			font-weight: 500;
			font-family: $mainFont;
			margin: 0 0 10px;
			text-transform: none;
		}

		p {
			font-size: 20px;
			line-height: 1.3;
			color: rgba(255, 255, 255, .7);
			margin: 0 0 30px;
		}
	}

	@media (max-width: 767px) {
		padding: 50px 0;

		.text-wrap {
			&:before {
				content: none;
			}

			.row {
				padding: 20px 0;

				& + .row {
					border: 0;
					padding-top: 0;
				}
			}
			h2 {
				font-size: 40px;
			}
		}
	}
}

#team {
	padding: 80px 0;
	text-align: center;

	h2 {
		font-size: 40px;
		line-height: 1.2;
		color: #a3a3a3;
		font-weight: normal;
		font-family: $headerFont;
		margin: 0 0 50px;

		strong {
			color: #3e414c;
		}
	}

	ul.members {
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;

		li {
			width: 33.33%;
			padding: 0 15px;

			.member {
				position: relative;
				min-height: 100px;
				overflow: hidden;
				margin-bottom: 24px;

				img {
					display: block;
					height: auto;
				}

				.caption {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba(53, 54, 59, .9);
					padding: 22px 20px 18px;
					transition: transform .3s ease;
					transform: translateY(100%);

					h4 {
						font-size: 26px;
						line-height: 1.3;
						color: #fff;
						font-family: $headerFont;
						font-weight: bold;
						text-transform: uppercase;
						letter-spacing: 0.05em;
						margin: 0;
					}

					p {
						font-size: 20px;
						line-height: 1.3;
						color: #ff4343;
						text-transform: uppercase;
						font-weight: bold;
						font-family: $headerFont;
						letter-spacing: 0.05em;
						margin: 0;
					}
				}

				&:hover {
					.caption {
						transform: translateY(0%);
					}
				}
			}
		}
	}

	@media (max-width: 767px) {
		ul.members {
			li {
				width: 50%;
			}
		}
	}

	@media (max-width: 479px) {
		ul.members {
			margin: 0;
			li {
				width: 100%;
				padding: 0;
			}
		}
	}
}