#author-banner {
	background: linear-gradient(135deg, rgba(53, 57, 72, .5) 0%, rgba(105, 113, 143, .5)), url(../images/article-review-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 90px 0;
	color: #c6cadb;

	h2 {
		font-size: 45px;
		line-height: 1.2;
		color: #fff;
		text-transform: uppercase;
		font-family: $headerFont;
		font-weight: bold;
		margin: 0 0 10px;
	}

	h4 {
		font-size: 20px;
		line-height: 25px;
		color: #fff;
		font-family: $headerFont;
		padding: 5px 16px;
		display: inline-block;
		background: rgba(0, 0, 0, .35);
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin: 0 0 35px;
	}

	p {
		font-size: 20px;
		line-height: 1.3;
		margin-bottom: 20px;

		a {
			color: #fff;

			&:hover {
				color: #de1818;
			}
		}
	}

	.image {
		margin-top: 5px;
	}

	.content {
		padding-left: 40px;
	}

	ul.share-links {
		list-style: none;
		padding: 0;
		margin: 30px 0;
		text-align: center;

		li {
			display: inline-block;
			padding: 0 18px 12px;
			color: #fff;
			font-size: 24px;
			line-height: 1.2;

			a {
				color: #fff;

				&:hover {
					color: #de1818;
				}
			}
		}
	}

	@media (max-width: 1023px) {
		.content {
			padding-left: 20px;
		}
	}

	@media (max-width: 767px) {
		.content {
			padding-left: 0;
		}
	}
}

.more-button {
	margin: 30px 0;

	.btn {
		min-width: 250px;
		padding: 26px 32px;
	}
}