h1,h2,h3 {
	font-family: $headerFont;
	text-transform: uppercase;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 26px;
}

p,li {
	font-family: $mainFont;
	font-size: 16px;
	font-weight: 400;
}
.post-text {
	h1,h2,h3,h4,h5,p,li,a {
		color: #424243;
		font-size: 20px;
		font-weight: 400;
		line-height: 26px;
	}
	p {
		margin-bottom: 26px;
	}
}

img {
	width: 100%;
}

a {
	color: currentColor;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: currentColor;
	}
}

div.button-wrap {  
	height:60px; 
	line-height:60px;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding: 2px 18px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

.button {
	text-transform: uppercase;
	border-radius: 4px;
	font-family: $headerFont;
	display: inline-block;
	transition: .2s ease;
	padding: 20px 30px;
	letter-spacing: 1.5px;
	&.red {
		background: $mainRed;
		&:hover {
			background: #bc2222;
		}
	}
	&.clear {
		background: none;
		border: 2px solid #fff;
	}
}

.clear-fix {
	clear: both;
}

.btn {
	display: inline-block;
	font-size: 20px;
	line-height: 29px;
	padding: 10px 20px;
	color: #fff;
	background: #fd2e2e;
	text-transform: uppercase;
	font-family: $headerFont;
	letter-spacing: 0.02em;
	font-weight: bold;
	border-radius: 0;
	margin: 0 0 30px;
}

#top-bar {
	background-color: $darkGrey;
    background-image: linear-gradient(to top, transparent 0%, transparent 100%);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
    .logo-wrap {
    	background-color: $mainRed;
    	text-align: center;
    	padding: 10px;
    	max-width: 87px;
    	a {
    		display: inline-block;
    		width: 100%;
    	}
    }

    .nav-wrap {
    	ul {
    		list-style-type: none;
    		text-align: right;
    		margin-top: 27px;
    		height: 84px;
    		margin: 0;
    		padding: 0;
    		li {
    			display: inline-block;
    			height: 100%;
    			border-right: 1px solid #000;
    			margin-left: -4px;
    			transition: .15s ease;
    			a {
    				font-size: 22px;
    				font-weight: 700;
    				text-transform: uppercase;
    				font-family: $headerFont;
    				color: white;
    				height: 100%;
    				width: 100%;
    				display: inline-block;
    				padding: 27px 37px 27px 34px;
    			}
				&:first-child {
					border-left: 1px solid #000;
				}
				&:hover, &:active {
					background: $mainRed;
				}
				.search {
					position: absolute;
					z-index: 999;
					right: 15px;
					background: $darkGrey;
					padding: 20px;
					border-radius: 0px 0px 4px 4px;
					border-top: 1px solid #000;
					input {
						font-size: 15px;
						color: #000;
						padding: 5px;
					    font-family: $mainFont;
					    border-radius: 3px;
					    border: none;
					}
					button {
						background: $mainRed;
						color: #fff;
						border-radius: 4px;
						border: 0;
						width: 31px;
						height: 31px;
						vertical-align: bottom;
					}
				}
    		}
    	}
    }
    div.show-mobile {
    	display: none;
    }
}
.ad {
	margin-top: 40px;
	margin-bottom: 50px;
}

.show-mobile {
	display: hidden;
}

.hidden {
	display: none;
}

#footer {
	background-color: #111112;
	color: #fff;
	min-height: 108px;
	font-size: 16px;
	overflow: hidden;
	p {
		opacity: .4;
		text-transform: uppercase;
		margin-top: 42px;
	}
	a {
		opacity: .4;
		margin: 21px 0px;

		&:hover {
			opacity: 1;
		}
	}
	@media screen and (max-width: 995px) {
		text-align: center;
		a {
			width: 100%;
		}
	}
}

@media screen and (max-width: 995px) {
	.hide-mobile {
		display: none !important;
	}
	.show-mobile {
		display: block !important;
	}
}