#home-banner {
	color: #fff;
	background-image: url(../images/homebg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 105px;
	padding-bottom: 135px;
	position: relative;
	.overlay {
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.15) 100%);
		background-color: rgba(35, 35, 35, 0.7);
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	h1 {
		margin-bottom: 50px;
	    font-weight: bold;
	}
	p {
		margin-bottom: 50px;
		opacity: .8;
		font-size: 20px;
	}
	a {
		width: 100%;
		max-width: 200px;
		font-size: 20px;
		padding: 30px 0px;
		font-weight: 700;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.16) 0%, rgba(255, 255, 255, 0.16) 100%);
		box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	}
	
}

#article-flow-1, #article-flow-2 {
	color: #fff;
	margin-top: 50px;
	.overlay {
		background: rgba(15, 15, 15, 0.8);
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		transition: .4s ease;
	}
	.row:nth-child(2) {
		margin-top: 30px;
	}
	.articles {
		list-style-type: none;
		padding: 0;
		li {
			height: 450px;
			text-align: center;
			a {
				position: relative;
				display: inline-block;
				height: 100%;
				width: 100%;
				background: url(../images/liftingbg.jpg);
				background-position: center !important;
				background-size: cover !important;
				&:hover {
					.overlay {
						background: rgba(40, 40, 40, 0.8);
					}
				}
				p,h2 {
					z-index: 2;
				}
				.text-wrap {
					z-index: 2;
					position: absolute;
					width: 100%;
					span {
						background-color: $mainRed;
						font-family: $mainFont;
						text-transform: uppercase;
						font-size: 18px;
						font-weight: bold;
						padding: 8px 20px;
						clip-path: polygon(9% 0, 100% 0, 92% 100%, 0% 100%);
						-webkit-clip-path: polygon(9% 0, 100% 0, 92% 100%, 0% 100%);
					}
				}
			}
			&.col-md-3 {
				.text-wrap {
					z-index: 2;
					padding: 20px;
					position: absolute;
					bottom: 15px;
					width: 100%;
				}
				h2 {
					margin-top: 40px;
				}
			}
			&.col-md-4 {
				.text-wrap {
					bottom: 25%;
					padding: 30px;
					h2 {
						margin-top: 30px;
					}
				}
			}
			&.col-md-6 {
				.text-wrap {
					bottom: 30px;
	    			padding: 45px;
	    			h2 {
	    				margin-top: 50px;
	    				margin-bottom: 50px;
	    				font-size: 42px;
	    			}
	    			p {
	    				font-size: 20px;
	    			}
				}
			}
			.secondary-list {
				list-style-type: none;
				padding: 0px;
				.row {
					margin-left: 0;
					margin-right: 0;
				}
				li {
					height: 210px;
				}
				.facebook, .instagram {
					position: relative;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					letter-spacing: 1.5px;
					h2 {
						margin-top: 0;
						margin-bottom: 5px;
					}
					a {
						height: auto;
						width: auto;
						background: #fff;
						padding: 15px 20px;
						letter-spacing: 1px;
						font-weight: bold;

					}
					p {
						margin-bottom: 20px;
						font-family: $headerFont;
						font-size: 20px;
						text-transform: uppercase;
					}
				}
				.facebook {
					background: url(../images/fbbg.jpg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100% 100%;
					transition: .2s ease;
					&:hover {
						background-size: 125% 125%;
					}

					a {
						color: #445a97;
					}
				}
				.instagram {
					background: url(../images/instabg.jpg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100% 100%;
					transition: .2s ease;
					&:hover {
						background-size: 125% 125%;
					}
					a {
						color: #9c6956;
					}
				}
				&.articles {
					.text-wrap {
						bottom: 0px;
						h2 {
							margin-top: 25px;
							margin-bottom: 0;
							font-size: 26px;
						}
					}
				}
			}
		}
	}
}
#trending {
	color: #3b3b3b;
	background-color: #eee;
	padding: 65px 0px;
	h2 {
		font-size: 60px;
		margin-top: 0;
		letter-spacing: 2px;
		i {
			vertical-align: baseline;
			color: $mainRed;
			margin-right: 25px;
		}
	}
	.articles {
		list-style-type: none;
		padding: 0;
		.article {
			a:hover {
				h3 {
					text-decoration: underline;
					color: $mainRed;
				}
			}
			.title-wrap {
				h3 {
					font-size: 22px;
					font-weight: bold;
				}
			}
			.featured-image-block {
				width: 100%;
				height: 200px;
				background-image: url('../images/featured-article.jpg');
				background-position: center !important;
				background-size: cover !important;
				background-repeat: no-repeat !important;
			}
		}
	}
}

#subscribe {
	padding-bottom: 100px;
	.container {
		border: 2px solid #dedede;
		background: url(../images/subscribebg.jpg);
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
	}
	.logo-wrap {
		background: $mainRed;
		text-align: center;
		width: 128px;
		padding: 30px;
		margin-left: 40px;
		margin-top: 50px;
	}
	.subscription-form {
		padding-top: 50px;
		padding-left: 50px;
		h3 {
			color: #2e2e30;
			font-size: 42px;
			margin-top: 0;
		}
		p {
			color: $mainRed;
			text-transform: uppercase;
			font-weight: bold;
		}
		form {
			position: relative;
			margin-bottom: 70px;
		}
		input[type=email] {
			font-size: 15px;
		    font-family: $mainFont;
		    padding: 25px;
		    width: 100%;
		    border-radius: 3px;
		    border: 2px solid #eee;
		    margin-top: 12px;
		}
		button {
			position: absolute;
			height: 50px;
			width: 50px;
			top: 25px;
			right: 13px;
			background: $mainRed;
			color: #fff;
			border-radius: 4px;
			border: 0;
			i {
				font-size: 23px;
				vertical-align: bottom;
			}
		}
		input {
			color: #000;
		}
	}
	.image-wrap {
		height: 100%;
	}
}
#red-navigation {
	background: $secondaryRed;
	color: #fff;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
		    display: inline-block;
		    text-transform: uppercase;
		    font-family: $mainFont;
		    margin: 30px 0px;
		    &:last-child {
		    	margin-right: 0;
		    }

		    a {
		    	&:hover {
		    		
		    	}
		    }
		}
	}
	.nav-wrap {
		li {
			margin-right: 30px;
			font-size: 16px;
			font-weight: 700;
		}
	}
	.social {
		li {
			margin-right: 25px;
			i {
				vertical-align: bottom;
			}
		}
	}
}

@media screen and (max-width: 995px) {
	.container .row .row {
		//.margin: 0;
	}

	#home-banner { 
		padding-top: 50px;
		padding-bottom: 50px;
		h1 {
			font-size: 30px;
			margin-bottom: 30px;
		}

	}
	#article-flow-1, #article-flow-2 {
		.articles {
			li {
				margin-bottom: 25px;
				.excerpt {
					display: none;
				}
			}
			.text-wrap {
			    bottom: 15px !important;
			    padding: 10px !important;
			    h2 {
			    	font-size: 26px !important;
			    	margin: 30px 0px !important;
			    }
			}
			.facebook, .instagram {
				.text-wrap {
					h2 {
						margin: 10px 0 !important;
					}
				}
			}
		}
	}
	#article-flow-1 .row:nth-child(2), #article-flow-2 .row:nth-child(2) {
	    margin-top: 0px;
	}
	#top-bar {
		.logo-wrap {
			max-width: 65px;
			float: left;
		}
	}
	#red-navigation {
		text-align: center;
		.nav-menu {
			li {
				width: 100%;
				margin: 15px 0px;
				a {
					width: 100%;
					display: inline-block;
				}
			}
		}
	}
	#subscribe {
		.container {
			background-position: initial;
			background-size: cover;
		}
	}
}

