.redux-section p.customize-section-description {
  margin-top: 22px;
  word-break: break-word;
}

.redux-section p.customize-section-description.legacy {
  margin-top: 7px;
}

.control-section-themes .accordion-section-title {
  margin: 0;
}

#customize-controls .customize-info {
  margin-bottom: 0;
}

#customize-controls .redux-section .accordion-section-content {
  background: #FCFCFC;
}

.redux-section .accordion-section-title i,
.redux-field .accordion-field-title i,
.redux-panel .accordion-section-title i {
  margin-right: 5px;
}

.accordion-section.redux-main {
  background: inherit;
  margin-left: inherit;
  border-left: inherit;
  -moz-box-shadow: inherit;
  -webkit-box-shadow: inherit;
  padding: inherit;
  box-shadow: inherit;
}

.redux_field_th {
  padding: 13px 0px 0px 0px;
}

.redux-main .redux-field-container {
  padding: 10px 0;
}

.redux-main .select_wrapper {
  float: none;
  width: 100%;
  display: inline-block;
}

.redux-main .select2-container {
  margin-right: 0 !important;
  margin-bottom: 5px !important;
  width: 100% !important;
}

.redux-main .select_wrapper:nth-child(odd) {
  margin-right: 0;
}

.redux-main .redux-option-image {
  max-width: 42% !important;
  margin-right: 3%;
}

.redux-main .customize-control {
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}

.redux-main .customize-control:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.redux-main .upload {
  width: 100% !important;
}

.redux-main h3 {
  margin-top: inherit;
}

.redux-main .redux-container-raw {
  margin-top: 22px;
  word-break: break-word;
  padding: 0 !important;
}

.redux-main .redux-container-password input {
  width: 100%;
}

.select2-drop {
  z-index: 999999;
}

.rAdsContainer {
  line-height: 0;
  border: 0;
  /*margin-top: -15px;*/
  /*margin-bottom: -15px;*/
}

.customize-control-redux-raw {
  list-style: none;
}

.rAds {
  position: inherit !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  text-align: center;
  margin-bottom: 0;
  line-height: 0;
  -webkit-transition: left ease-in-out .18s;
  transition: left ease-in-out .18s;
}

.rAds img {
  -webkit-transition: left ease-in-out .18s;
  transition: left ease-in-out .18s;
}

/* Light fresh theme */
.admin-color-fresh #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title,
.admin-color-fresh #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover,
.admin-color-fresh #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title,
.admin-color-fresh #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus,
.admin-color-fresh #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title,
.admin-color-fresh #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover,
.admin-color-fresh #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title,
.admin-color-fresh #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus {
  color: #fff;
  background: #0073aa;
}

.admin-color-fresh #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title:after,
.admin-color-fresh #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover:after,
.admin-color-fresh #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title:after,
.admin-color-fresh #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus:after,
.admin-color-fresh #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title:after,
.admin-color-fresh #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover:after,
.admin-color-fresh #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title:after,
.admin-color-fresh #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus:after {
  color: #fff;
}

.admin-color-fresh #customize-theme-controls .control-section.control-panel.control-panel-redux > .accordion-section-title:after {
  background: transparent;
  border-left: none;
}

.admin-color-fresh #customize-theme-controls .control-panel-redux .customize-panel-back:hover, .admin-color-fresh #customize-theme-controls .redux-section .customize-section-back:hover {
  background: #0073aa;
  color: #fff;
}

/* Ectoplasm theme */
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title,
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover,
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title,
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus {
  color: #fff;
  background: #a3b745;
}

.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title:after,
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover:after,
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title:after,
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus:after,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title:after,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover:after,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title:after,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus:after {
  color: #fff;
}

.admin-color-ectoplasm #customize-theme-controls .control-section.control-panel.control-panel-redux > .accordion-section-title:after {
  background: transparent;
  border-left: none;
}

.admin-color-ectoplasm #customize-theme-controls .control-panel-redux .customize-panel-back:hover, .admin-color-ectoplasm #customize-theme-controls .redux-section .customize-section-back:hover {
  background: #a3b745;
  color: #fff;
}

/* Light admin theme */
.admin-color-light #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title,
.admin-color-light #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover,
.admin-color-light #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title,
.admin-color-light #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus,
.admin-color-light #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title,
.admin-color-light #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover,
.admin-color-light #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title,
.admin-color-light #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus {
  color: #fff;
  background: #888;
}

.admin-color-light #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title:after,
.admin-color-light #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover:after,
.admin-color-light #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title:after,
.admin-color-light #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus:after,
.admin-color-light #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title:after,
.admin-color-light #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover:after,
.admin-color-light #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title:after,
.admin-color-light #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus:after {
  color: #fff;
}

.admin-color-light #customize-theme-controls .control-section.control-panel.control-panel-redux > .accordion-section-title:after {
  background: transparent;
  border-left: none;
}

.admin-color-light #customize-theme-controls .control-panel-redux .customize-panel-back:hover, .admin-color-light #customize-theme-controls .redux-section .customize-section-back:hover {
  background: #888;
  color: #fff;
}

/* Blue admin theme */
.admin-color-blue #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title,
.admin-color-blue #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover,
.admin-color-blue #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title,
.admin-color-blue #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus,
.admin-color-blue #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title,
.admin-color-blue #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover,
.admin-color-blue #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title,
.admin-color-blue #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus {
  color: #fff;
  background: #096484;
}

.admin-color-blue #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title:after,
.admin-color-blue #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover:after,
.admin-color-blue #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title:after,
.admin-color-blue #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus:after,
.admin-color-blue #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title:after,
.admin-color-blue #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover:after,
.admin-color-blue #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title:after,
.admin-color-blue #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus:after {
  color: #fff;
}

.admin-color-blue #customize-theme-controls .control-section.control-panel.control-panel-redux > .accordion-section-title:after {
  background: transparent;
  border-left: none;
}

.admin-color-blue #customize-theme-controls .control-panel-redux .customize-panel-back:hover, .admin-color-blue #customize-theme-controls .redux-section .customize-section-back:hover {
  background: #096484;
  color: #fff;
}

/* Coffee admin theme */
.admin-color-coffee #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title,
.admin-color-coffee #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover,
.admin-color-coffee #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title,
.admin-color-coffee #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus,
.admin-color-coffee #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title,
.admin-color-coffee #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover,
.admin-color-coffee #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title,
.admin-color-coffee #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus {
  color: #fff;
  background: #c7a589;
}

.admin-color-coffee #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title:after,
.admin-color-coffee #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover:after,
.admin-color-coffee #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title:after,
.admin-color-coffee #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus:after,
.admin-color-coffee #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title:after,
.admin-color-coffee #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover:after,
.admin-color-coffee #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title:after,
.admin-color-coffee #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus:after {
  color: #fff;
}

.admin-color-coffee #customize-theme-controls .control-section.control-panel.control-panel-redux > .accordion-section-title:after {
  background: transparent;
  border-left: none;
}

.admin-color-coffee #customize-theme-controls .control-panel-redux .customize-panel-back:hover, .admin-color-coffee #customize-theme-controls .redux-section .customize-section-back:hover {
  background: #c7a589;
  color: #fff;
}

/* Ectoplasm admin theme */
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title,
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover,
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title,
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus {
  color: #fff;
  background: #523f6d;
}

.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title:after,
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover:after,
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title:after,
.admin-color-ectoplasm #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus:after,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title:after,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover:after,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title:after,
.admin-color-ectoplasm #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus:after {
  color: #fff;
}

.admin-color-ectoplasm #customize-theme-controls .control-section.control-panel.control-panel-redux > .accordion-section-title:after {
  background: transparent;
  border-left: none;
}

.admin-color-ectoplasm #customize-theme-controls .control-panel-redux .customize-panel-back:hover, .admin-color-ectoplasm #customize-theme-controls .redux-section .customize-section-back:hover {
  background: #523f6d;
  color: #fff;
}

/* Midnight admin theme */
.admin-color-midnight #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title,
.admin-color-midnight #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover,
.admin-color-midnight #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title,
.admin-color-midnight #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus,
.admin-color-midnight #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title,
.admin-color-midnight #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover,
.admin-color-midnight #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title,
.admin-color-midnight #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus {
  color: #fff;
  background: #e14d43;
}

.admin-color-midnight #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title:after,
.admin-color-midnight #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover:after,
.admin-color-midnight #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title:after,
.admin-color-midnight #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus:after,
.admin-color-midnight #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title:after,
.admin-color-midnight #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover:after,
.admin-color-midnight #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title:after,
.admin-color-midnight #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus:after {
  color: #fff;
}

.admin-color-midnight #customize-theme-controls .control-section.control-panel.control-panel-redux > .accordion-section-title:after {
  background: transparent;
  border-left: none;
}

.admin-color-midnight #customize-theme-controls .control-panel-redux .customize-panel-back:hover, .admin-color-midnight #customize-theme-controls .redux-section .customize-section-back:hover {
  background: #e14d43;
  color: #fff;
}

/* Ocean admin theme */
.admin-color-ocean #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title,
.admin-color-ocean #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover,
.admin-color-ocean #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title,
.admin-color-ocean #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus,
.admin-color-ocean #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title,
.admin-color-ocean #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover,
.admin-color-ocean #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title,
.admin-color-ocean #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus {
  color: #fff;
  background: #9ebaa0;
}

.admin-color-ocean #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title:after,
.admin-color-ocean #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover:after,
.admin-color-ocean #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title:after,
.admin-color-ocean #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus:after,
.admin-color-ocean #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title:after,
.admin-color-ocean #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover:after,
.admin-color-ocean #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title:after,
.admin-color-ocean #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus:after {
  color: #fff;
}

.admin-color-ocean #customize-theme-controls .control-section.control-panel.control-panel-redux > .accordion-section-title:after {
  background: transparent;
  border-left: none;
}

.admin-color-ocean #customize-theme-controls .control-panel-redux .customize-panel-back:hover, .admin-color-ocean #customize-theme-controls .redux-section .customize-section-back:hover {
  background: #9ebaa0;
  color: #fff;
}

/* Sunrise admin theme */
.admin-color-sunrise #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title,
.admin-color-sunrise #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover,
.admin-color-sunrise #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title,
.admin-color-sunrise #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus,
.admin-color-sunrise #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title,
.admin-color-sunrise #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover,
.admin-color-sunrise #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title,
.admin-color-sunrise #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus {
  color: #fff;
  background: #cf4944;
}

.admin-color-sunrise #customize-theme-controls .control-section.control-section-redux:hover > h3.accordion-section-title:after,
.admin-color-sunrise #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:hover:after,
.admin-color-sunrise #customize-theme-controls .control-section.control-section-redux.open h3.accordion-section-title:after,
.admin-color-sunrise #customize-theme-controls .control-section.control-section-redux h3.accordion-section-title:focus:after,
.admin-color-sunrise #customize-theme-controls .control-panel.control-panel-redux:hover > h3.accordion-section-title:after,
.admin-color-sunrise #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:hover:after,
.admin-color-sunrise #customize-theme-controls .control-panel.control-panel-redux.open h3.accordion-section-title:after,
.admin-color-sunrise #customize-theme-controls .control-panel.control-panel-redux h3.accordion-section-title:focus:after {
  color: #fff;
}

.admin-color-sunrise #customize-theme-controls .control-section.control-panel.control-panel-redux > .accordion-section-title:after {
  background: transparent;
  border-left: none;
}

.admin-color-sunrise #customize-theme-controls .control-panel-redux .customize-panel-back:hover, .admin-color-sunrise #customize-theme-controls .redux-section .customize-section-back:hover {
  background: #cf4944;
  color: #fff;
}
